<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.astroconsult.astroconsult">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
android:name=".Root"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.User_wallet_History">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".AstroOtpEditProfile"></activity>
        <activity android:name=".AstrologerEditProfile">

        </activity>
        <activity android:name=".DisplayPaymentDetails" />
        <activity
            android:name=".AstroHome"
            android:label="@string/title_activity_astro_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Chat.ConversationActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity
            android:name=".AstroProfileSignUp"
            android:windowSoftInputMode="adjustPan">


        </activity>
        <activity android:name=".AstrologerSignUp" />
        <activity android:name=".AstroOtp" />
        <activity android:name=".AstroOtpVerify" />
        <activity android:name=".AstroLogIn" />
        <activity android:name=".otp" />
        <activity android:name=".MainSelect" />
        <activity android:name=".ui.slideshow.SlideShow" />
        <activity android:name=".ui.P1_Update_Account"></activity>
        <activity
            android:name=".ProfileAstro"
            android:label="@string/Astro_profile"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".OtpVerify" />
        <activity android:name=".SignUp" />
        <activity android:name=".LogIn" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_lRFmHgjYXdI3Z9" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".NotificationService"
            android:label="@string/app_name">

        </service>
        <service android:name=".Interface.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.StickyService" />
        <service android:name=".services.SendEndChatService" />

    </application>

</manifest>